
@{
	ViewData["title"] = "Máy tính cá nhân";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Máy tính cá nhân</h2>

<form asp-action="Calculate" asp-controller="Calculator" method="post">
	<input name="a" placeholder="Toán hạng a"/>
	<select name="op">
		<option>+</option>
		<option>-</option>
		<option>x</option>
		<option>:</option>
	</select>
	<input name="b" placeholder="Toán hạng b" />
	<input type="submit" value=" = "/>
	<input placeholder="Kết quả" value="@ViewBag.KetQua"/>
</form>
